
/*@media only screen and (min-width: 600px){*/

#wrapper{
	display:grid;
	grid-template-columns: repeat(4, 1fr);
}

header {
	grid-column: 1 / 5;
}
main {
	grid-column: 1 / 5;
	
}
body {
	background-color: #496178;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
}

footer {
	grid-column: 1 / 5;
	
}

nav {
	grid-column: 1 / 5;
	font-size: 1em;
	margin-top: 2%;
	margin-bottom: 0%;
	text-align: center;
	
}


#vejretnu
{
	margin-left: 15%;
	margin-top: 0%;
}

.slidecontainer{
	width: 50%;
	margin-left: 5%;
	padding-bottom: 5%;
	float: left;
	text-align: center;
	
	
}

	.slider {
  -webkit-appearance: none; 
  appearance: none;
  width: 100%; 
  height: 7px;
  border-radius: 5px;
  background-image: linear-gradient(to right, blue, red);
  outline: none; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
	border: 1px solid white;
	}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px;
	border-radius:25px;
  background: white; 
  cursor: pointer; 
  border: 1px solid black;
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 25px;
  height: 25px; 
	border-radius:25px;
   background: white; 
  cursor: pointer; 
	border: 1px solid black;
	
}


#vejr{
	width:100px;
	margin-left: 15%;
}

#demo {
	font-size: 3em;
}

.tempknap{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 2em;
	cursor: pointer;
	border-style:none;
	background-color: white;
	border: 1px solid black;
	margin-top: 5%;
	box-shadow: 0px 1px;
}

#varmere {
margin-left: 5%;
}
#koldere {
	margin-right: 5%;
}

button:focus {
	outline:0;
	
}

button:hover{
	
	opacity: 0.7;
}
#home {
	margin-top: 5%; 
	margin-left: 5%;
	margin-right: 5%;
	width: 7%
	
	
}

#EgetProgram{
	margin-top: 5%;
	width: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

#vent2u{
	text-decoration: none;
	color: white;
	text-shadow: -1px -1px 0 black;
	font-size: 2em;
	margin-left: 5%;
	margin-right: 5%;
	
}

#demo {
	text-align:center;
	margin-top: 0;
	margin-bottom: 2%;
}
#plusminuscontainer {
	text-align: center;
}

#txt{
	font-weight: bold;
	font-size: 1.5em;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; 
}

/* Position af elementerne */
.overlay-content {
  position: relative;
  top: 25%; 
  width: 100%; 
  text-align: center; 
  margin-top: 30px; 
}

/* Navigation links */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #f1f1f1;
  display: block; 
  transition: 0.3s; 
}




/* Close button*/
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


	
#burger {
float:right;
margin-right: 5%;
	}

.colorChanger {
	width: 8%;
	float: right;
	margin-right: 5%;
}

.bluecold{
	background-color: blue;
}

.redwarm{
	background-color: red;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 51px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.glider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.glider:before {
  position: absolute;
  content: "";
  height: 39px;
  width: 39px;
  left: 6px;
  bottom: 6px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .glider {
  background-color: #45e760;
}

input:focus + .glider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .glider:before {
  -webkit-transform: translateX(39px);
  -ms-transform: translateX(39px);
  transform: translateX(39px);
}

/* Rounded sliders */
.glider.round {
  border-radius: 51px;
}

.glider.round:before {
  border-radius: 50%;
}
#glidercontainer {
	float: right;
	margin-right: 15%;
	margin-top: 3%;
	
}

	
	
	


